.cabecalho{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background-color: #121B2A;
    position: fixed;
    top: 0;
    z-index: 99999999999999999999999;
}
@media screen and (max-width: 1200px){
    .cabecalho{
        padding: 30px;
    }
    .cabecalho-logo{
        padding: 0px 5px;
    }
}