.rodape{
    width: 100%;
    height: auto;
    margin-top: 200px;
    background-color: #121B2A;
    padding: 50px 75px;
}
.rodape .footer-superior, .footer-inferior, .footer-redes_sociais, .footer-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer-superior .cabecalho-logo{
    width: 170px;
    height: 125px;
}
.rodape .footer-superior .footer-menu{
    align-items: flex-start;  
}
.footer-menu .footer-menu-links{
    margin: 30px;
}
.footer-superior .footer-menu{
    margin: 0 auto;
}
.rodape .footer-superior .footer-menu h1{
    font-size: 14pt;
    color: #fff;
    margin-bottom: 10px;
}
.rodape .footer-superior .footer-menu h3{
    font-weight: normal;
    font-size: 1rem;
    color: #aeaeae;
    margin-bottom: 5px;
    transition: all 200ms ease;
    cursor: pointer;
}
.rodape .footer-superior .footer-menu h3:hover{
    transform: translateX(10px); 
    text-decoration: underline;   
}
.rodape-linha-horizontal{
    margin-top: 20px;
}
.rodape .footer-redes_sociais h1{
    font-size: 15px;
    font-weight: normal;
    margin-right: 15px;
}
.rodape .footer-inferior{
    justify-content: space-between; 
    color: #aeaeae;
    font-size: 6pt;
    padding: 15px 0px;
}
.rodape .footer-inferior img{
    height: 32px;
    width: 32px;
    margin: 10px;
    cursor: pointer;
    filter: brightness(0%);
    transition: all 500ms ease;
}
.rodape .footer-inferior img:hover{
    filter: brightness(100%);
}