.cabecalho-logo{
    width: 100px;
    height: 70px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    padding: 0px 10px; 
    border-radius: 50%;
}
.cabecalho-logo img{
    width: 100%;
}