.pagina-principal{
    margin-top: 110px;
}
.pagina-principal__texto-imagem{
    background: #121B2A;
    position: relative;
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: space-around;
}
.pagina-principal__texto-imagem:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform-origin: top right;
    transform: skewY(-4deg);
}
.texto-imagem__texto{
    flex: 1 1 50%;
    padding: 40px 0px 40px 60px;
}

.texto-imagem__texto h1{
    color: #f9f9f9;
    width: 80%;
    margin: 0 auto;
    font-size: 35px;
} 
.texto-imagem__texto p{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    line-height: 25px;
    font-size: 19px;
    color: #aeaeae;
    letter-spacing: 2px;
    word-spacing: 3.5px;
}
.texto-imagem__imagem{
    flex: 1 1 50%;
    text-align: center;
}
/* Cards noticias */
.cards-noticias{
    width: 85%;
    // max-width: 1200px;
    
    margin: auto;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    //auto-fit: preencha o máximo que puder;
    //minmax: cada card possui no minimo 300px width
    //1fr: possui no máximo 1fr, 1 fração do container;
    row-gap: 50px;
    column-gap: 70px;
}
.noticia-item{
    background: #0066ff;
    color: #fff;
    padding-bottom: 50px;
    position: relative;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
    transition: 200ms;
}
.noticia-item:hover{
    transform: scale(1.025, 1.025);
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.noticia-categoria{
    text-align: center;
    padding: 10px;
    padding-left: 0;
    width: 50%;
    background: rgba(0, 102, 255, 0.8);
    border-radius: 0px 0px 25px 0px;
    position: absolute;
}
.noticia-imagem{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.noticia-informacoes{
    padding: 15px;
}
.noticia-titulo{
    text-align: left;
}
.noticia-paragrafo{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 30px;
}
.noticia-editar{
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 10px;
    display: block;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    border-radius: 20px;
    transition: 150ms;
}

.noticia-editar:visited{
    color: #fff;
}
.noticia-editar:hover{
    color: #0066ff;
    font-weight: bold;
    background: white;
}
@media screen and (max-width: 1200px){
    .pagina-principal{
        margin-top: 110px;
    }
    .pagina-principal__texto-imagem{
        background: #121B2A;
        position: relative;
        max-width: 100%;
        height: 660px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
    }
    .pagina-principal__texto-imagem:after{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: #121b2a;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: top right;
        transform: skewY(-4deg);
    }
    .texto-imagem__texto{
        flex: 1 1 100%;
        padding: 0px 0px 0px 0px;
    }
    .texto-imagem__texto h1{
        color: #f9f9f9;
        width: 100%;
        margin: 0 auto;
        font-size: 35px;
    } 
    .texto-imagem__texto p{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: justify;
        line-height: 20px;
        font-size: 19px;
        color: #aeaeae;
        letter-spacing: 0px;
        word-spacing: 0px;
    }
    .texto-imagem__imagem{
        flex: 1 1 100%;
        text-align: center;
    }
    .texto-imagem__imagem img{
        max-width: 90%;
        padding: 10px;
    }
}